{% extends 'ApartmentsApp/base.html' %}

{% block content %}
    <h3 style="text-align: center">Hello</h3>

    <form method="post">
        {% csrf_token %}

        {{ apartment_form.as_p }}

        {{ address_inline_formset.management_form }}
        {% for iform in address_inline_formset %}
            {{ iform.as_p }}
        {% endfor %}

        {{ room_inline_formset.management_form }}
        {% for iform in room_inline_formset %}
            {{ iform.as_p }}
        {% endfor %}

        <button type="submit">submit</button>
    </form>

{% endblock %}