{% extends 'ApartmentsApp/base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
    <form method="post">
        {% csrf_token %}

        <h4>Apartment - {{ apartment_form.name.value }}</h4>
        {{ apartment_form | crispy }}

        {{ room_formset.management_form }}
        {% for room in room_formset %}
            <h4>Room # {{ forloop.counter }}</h4>
            {{ room | crispy }}

            {{ chair_formset.management_form }}
            {% for chair in chair_formset %}
                {% if chair.instance.room.id == room.id.value %}
                    <h4>Chair # {{ forloop.counter }}</h4>
                    {{ chair | crispy }}
                {% endif %}
            {% endfor %}

        {% endfor %}

        <button class="btn btn-info" type="submit">Submit</button>
    </form>
{% endblock %}