{% extends 'ApartmentsApp/base.html' %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">

        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field.errors }}
            {{ hidden_field }}
        {% endfor %}

        {% csrf_token %}

        {{ form.management_form }}
        {{ form.non_form_errors }}

        {% for room_form in form.forms %}

            <hr>

            <h2>
                {% if room_form.instance.id %}
                    Room #{{ room_form.instance.id }}</h2>
                {% else %}
                    {% if form.forms|length > 1 %}
                        Add another Room
                    {% else %}
                        Add a Room
                    {% endif %}
                {% endif %}
            </h2>

            {% for hidden_field in room_form.hidden_fields %}
                {{ hidden_field.errors }}
            {% endfor %}

            <table>
                {{ room_form.as_table }}
            </table>

            {% if room_form.nested %}
                <div class="indent">

                    <h3>Chairs</h3>

                    {{ room_form.nested.management_form }}
                    {{ room_form.nested.non_form_errors }}

                    <table>
                        {% for chair_form in room_form.nested.forms %}

                            <tr>
                                <td>
                                    <em>
                                        {% if chair_form.instance.id %}
                                            Chair #{{ chair_form.instance.id }}
                                        {% else %}
                                            Add an chair
                                        {% endif %}
                                    </em>
                                </td>
                                <td>
                                    {% for hidden_field in chair_form.hidden_fields %}
                                        {{ hidden_field.errors }}
                                    {% endfor %}

                                    <table>
                                        {{ chair_form.as_table }}
                                    </table>
                                </td>
                                <td>
                                    {% if chair_form.instance.image %}
                                        <img src="{{ chair_form.instance.image.url }}" height="100"
                                             alt="{{ nested.form.instance.alt_text }}">
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </table>
                </div>
            {% endif %}

        {% endfor %}

        <hr>

        <p>
            <input type="submit" value="Update books">
            &nbsp; &nbsp;
            <a href="{{ publisher.get_absolute_url }}">Cancel</a>
        </p>
    </form>
{% endblock %}